/* ================================
VARIABLES
================================ */
// BASIC COLOR
$c-t: transparent;
$c-0:#000000;
$c-1:#111111;
$c-2:#222222;
$c-3:#333333;
$c-4:#444444;
$c-5:#555555;
$c-6:#666666;
$c-7:#777777;
$c-8:#888888;
$c-9:#999999;
$c-a:#aaaaaa;
$c-b:#bbbbbb;
$c-c:#cccccc;
$c-d:#dddddd;
$c-e:#eeeeee;
$c-f:#ffffff;
// --------------------------------
// STATIC WIDTH
$sw: 1280px;
// FLUID WIDTH
$fw: 100%;
// NUMBER OF COLUMNS
$nc: 12;