/* ================================
TRANSITION
================================ */
// INITIAL
@mixin tt_in($in:initial) {
	transition: $in;
}
@mixin tt_in-p($in:initial) {
	transition-property: $in;
}
@mixin tt_in-d($in:initial) {
	transition-delay: $in;
}
// --------------------------------
// DURATION(Time)
@mixin tt_du($t:.3s) {
	transition-duration: $t;
}
// PROPERTY
@mixin tt_pr($p:all) {
	transition-property: $p;
}
// DELAY
@mixin tt_de($y:.7s) {
	transition-delay: $y;
}
// TIMING FUNCTION
@mixin tt_tf($n1:0, $n2:1, $n3:0, $n4:1) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
// --------------------------------
// MULTIPLE
@mixin tt_m($m) {
	transition: $m;
}
// --------------------------------
@mixin tt_t($t:.3s) {
	transition: $t;
}
@mixin tt_tp($t:.3s, $p:all) {
	transition: $t $p;
}
@mixin tt_td($t:.3s, $d:.7s) {
	transition: $t $d;
}
@mixin tt_tpd($t:.3s, $p:all, $d:.7s) {
	transition: $t $p $d;
}
// --------------------------------
// FUNCTION
@mixin tt_tf_l($n1:0, $n2:0, $n3:1, $n4:1) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_e($n1:0.25, $n2:0.1, $n3:0.25, $n4:1) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_ei($n1:0.42, $n2:0, $n3:1, $n4:1) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_eo($n1:0, $n2:0, $n3:0.58, $n4:1) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_eio($n1:0.42, $n2:0, $n3:0.58, $n4:0) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_ei-sine($n1:0.470, $n2:0.000, $n3:0.745, $n4:0.715) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_eo-sine($n1:0.390, $n2:0.575, $n3:0.565, $n4:1.000) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_eio-sine($n1:0.445, $n2:0.050, $n3:0.550, $n4:0.950) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_ei-quad($n1:0.550, $n2:0.085, $n3:0.680, $n4:0.530) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_eo-quad($n1:0.250, $n2:0.460, $n3:0.450, $n4:0.940) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_eio-quad($n1:0.455, $n2:0.030, $n3:0.515, $n4:0.955) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_ei-cubic($n1:0.550, $n2:0.055, $n3:0.675, $n4:0.190) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_eo-cubic($n1:0.215, $n2:0.610, $n3:0.355, $n4:1.000) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_eio-cubic($n1:0.645, $n2:0.045, $n3:0.355, $n4:1.000) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_ei-quart($n1:0.895, $n2:0.030, $n3:0.685, $n4:0.220) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_eo-quart($n1:0.165, $n2:0.840, $n3:0.440, $n4:1.000) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_eio-quart($n1:0.770, $n2:0.000, $n3:0.175, $n4:1.000) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_ei-quint($n1:0.755, $n2:0.050, $n3:0.855, $n4:0.060) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_eo-quint($n1:0.230, $n2:1.000, $n3:0.320, $n4:1.000) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_eio-quint($n1:0.860, $n2:0.000, $n3:0.070, $n4:1.000) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_ei-expo($n1:0.950, $n2:0.050, $n3:0.795, $n4:0.035) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_eo-expo($n1:0.190, $n2:1.000, $n3:0.220, $n4:1.000) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_eio-expo($n1:1.000, $n2:0.000, $n3:0.000, $n4:1.000) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_ei-circ($n1:0.600, $n2:0.040, $n3:0.980, $n4:0.335) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_eo-circ($n1:0.075, $n2:0.820, $n3:0.165, $n4:1.000) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_eio-circ($n1:0.785, $n2:0.135, $n3:0.150, $n4:0.860) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_ei-back($n1:0.600, $n2:-0.280, $n3:0.735, $n4:0.045) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_eo-back($n1:0.175, $n2:0.885, $n3:0.320, $n4:1.275) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
@mixin tt_tf_eio-back($n1:0.680, $n2:-0.550, $n3:0.265, $n4:1.550) {
	transition-timing-function: cubic-bezier($n1, $n2, $n3, $n4);
}
